{
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSameLine": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "singleQuote": false,
  "semi": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": false
}
