$dark_system-color: #323e52;
$dark_tab-color: #262f3f;
$dark_content-color: #404b5d;
$dark_font-color: #fff;
$dark_font_size: 14px;
$dark_border-color: #767474;
$dark_table_header: #262f3f;

$detail_font_color: #E6A23C;
$update_font_color: #67C23A;
