.avue-crud {
  width: 100%;
  .el-card {
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    &__body {
      .el-table {
        &__header-wrapper {
          .el-table__header {
            th {
              background-color: var(--tab-color);
              color: #fff;
              padding: 0;
              .cell {
                line-height: 50px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  &__pagination {
    padding: {
      top: 20px;
      bottom: 0;
      left: 0;
      right: 0;
    };
  }
}

.avue-form {
  .el-collapse {
    border: none;
    &-item__wrap {
      border: none;
    }
  }
}
