@use 'variables' as *;

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $header: (
    "padding": 0,
    "height": 80px
  ),
  $switch: (
    'on-color': $dark_content-color,
    'off-color': #2e68aa
  ),
  $dialog: (
    'padding-primary': 0,
    'title-font-size': 16px
  ),
  $table: (
    'border-color': var(--table-border-color)
  ),
  $tree: (
    'node-content-height': 40px
  ),
  $button: (
    'hover-text-color': getCssVar('text-color', 'regular'),
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;
