@use 'variables' as vars;

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $header: (
    "padding": 0,
    "height": 80px
  ),
  $switch: (
    'on-color': vars.$dark_content-color,
    'off-color': #fff
  ),
  $dialog: (
    'padding-primary': 10px,
    'title-font-size': 16px
  ),
  $table: (
    'border': none,
    'border-color': transparent
  ),
  $tree: (
    'node-content-height': 40px
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;
