@font-face {
  font-family: "YouSheBiaoTiHei";
  src: url("./fonts/YouSheBiaoTiHei-2.ttf");
}

@font-face {
  font-family: "ShiShangZhongHeiJianTi";
  src: url("./fonts/sszht.ttf");
}

@font-face {
  font-family: "Source Han Sans CN-Bold";
  src: url("./fonts/SourceHanSansCN-Bold.otf");
}

@font-face {
  font-family: "Source Han Sans CN-Regular";
  src: url("./fonts/SourceHanSansCN-Regular.otf");
}

@font-face {
  font-family: "Source Han Sans CN-Normal";
  src: url("./fonts/SourceHanSansOLD-Normal-2.otf");
}

@font-face {
  font-family: "DIN-BoldItalicAlt-Regular";
  src: url("./fonts/DIN-BoldItalicAlt Regular.otf");
}

@font-face {
  font-family: "DINCond-Bold-Regular";
  src: url("./fonts/DINCond-Bold Regular.otf");
}

@font-face {
  font-family: "PangMenZhengDao-Regular";
  src: url("./fonts/PangMenZhengDao Regular.ttf");
}




@font-face {
  font-family: "DINEngschrift";
  src: url("./fonts/DINEngschrift.otf");
}

@font-face {
  font-family: "Source Han Sans CN-Medium";
  src: url("./fonts/SourceHanSansCN-Medium.otf");
}
