.layout-page-container {
  .container {
    overflow: hidden;
    .aside {
      //width: 240px;
      width: max-content;
      //max-width: 240px;
      //transition: all 0.3s;
    }
    .main {
      display: flex;
      flex-direction: column;
      padding: 0;
      flex-basis: 0;
      overflow: hidden;
      .content {
        flex: 1;
        overflow: hidden;
        padding: 10px;
        background-color: var(--content-color);
      }
    }
  }
}
