.layout-page-container {
  .container {
    overflow: hidden;
    .main {
      display: flex;
      flex-direction: column;
      padding: 0;
      flex-basis: 0;
      overflow: hidden;
      .content {
        flex: 1;
        overflow: hidden;
        padding: 20px;
        background-color: var(--content-color);
      }
    }
  }
}
