.login-page {
  width: 100%;
  min-height: 100vh;
  background-image: url("@/assets/images/login/bg04.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: 50px 0;

  .animation-content {
    max-width: 1000px;
    width: 90%;
    min-height: 400px;
    height: 80vh;
    max-height: 500px;
  }

  .login-content {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #FFFFFF, $alpha: 1);
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
  }

  .illustration-layout,
  .form-content {
    padding: 30px;
  }

  .illustration-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    img {
      width: 300px;
    }
  }

  .form-content {
    display: flex;
    flex-direction: column;
    flex: 1;

    .login-content-title {
      text-align: center;
      font-family: "ZhanKuIiterature";
      font-size: 30px;
      line-height: 45px;
      margin-bottom: 50px;
    }
  }

  .login-content-form {
    width: 90%;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .el-form {
      width: 90%;

      .el-input-group__append {
        padding: 0;
        border-radius: 0 4px 4px 0;

        img {
          display: block;
          height: 38px;
        }
      }
    }

    .login-button {
      width: 100%;
    }
  }

  .login-content-footer {
    max-height: 50px;
    flex: 1;
  }
}

@media screen and (max-width: 800px) {
  .login-page {
    .illustration-layout {
      display: none;
    }

    .form-content {
      background-image: url("~@/assets/images/login/illustration.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center bottom;
    }
  }
}

.login-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .date-time-box {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 5vh;
    color: #fff;
    text-align: center;
    .title {
      font-size: 55px;
      font-family: "PangMenZhengDao-Regular";
      letter-spacing: 4px;
      margin-bottom: 10px;
    }
    .date {
      font-size: 30px;
      font-family: "ShiShangZhongHeiJianTi";
    }
    .time {
      font-size: 50px;
      font-family: "ShiShangZhongHeiJianTi";
    }
  }
  .login-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 5vh;
    color: #fff;
    .avatar {
      margin-bottom: 20px;
    }
    .login-form {
      width: 230px;
      .login-input {
        border-radius: 20px;
        box-shadow: rgba($color: #fff, $alpha: 0.3) 0 0 5px;
        overflow: hidden;
        .el-input__wrapper {
          background-color: rgba($color: #fff, $alpha: 0.4);
          box-shadow: none;
          border-radius: 0;
          .el-input__inner {
            color: #fff;
            height: 30px;
            line-height: 30px;
            &::placeholder {
              color: #fff;
            }
          }
          .el-input__suffix {
            .el-input__icon {
              color: #fff;
            }
          }
        }
        .el-input-group__append {
          background-color: rgba($color: #fff, $alpha: 0.4);
          box-shadow: none;
          .el-button {
            height: 30px;
            padding: 7px;
            color: #fff;
          }
        }
      }
      .code-input {
        .el-input-group__append {
          padding: 0;
          background-color: rgba($color: #fff, $alpha: 0.4);
          box-shadow: none;
        }
      }
      .code-img {
        height: 30px;
        cursor: pointer;
      }
    }
  }
}

.login-glass {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #FFFFFF, $alpha: 0.1);
  backdrop-filter: blur(10px);
}

.login-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 411px) {
  .login-page {
    padding: 0;

    .animation-content {
      height: calc(100vh - 50px);
      max-height: 100%;
    }

    .form-content {
      flex: 1;
    }

    .login-content-footer {
      flex: 1;
      max-height: none;
    }
  }
}
