.login-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .date-time-box {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 5vh;
    color: #fff;
    text-align: center;
    .title {
      font-size: 55px;
      font-family: "PangMenZhengDao-Regular";
      letter-spacing: 4px;
      margin-bottom: 10px;
    }
    .date {
      font-size: 30px;
      font-family: "ShiShangZhongHeiJianTi";
    }
    .time {
      font-size: 50px;
      font-family: "ShiShangZhongHeiJianTi";
    }
  }
  .login-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 5vh;
    color: #fff;
    .avatar {
      margin-bottom: 20px;
    }
    .login-form {
      width: 230px;
      .login-input {
        border-radius: 20px;
        box-shadow: rgba($color: #fff, $alpha: 0.3) 0 0 5px;
        overflow: hidden;
        .el-input__wrapper {
          background-color: rgba($color: #fff, $alpha: 0.4);
          box-shadow: none;
          border-radius: 0;
          .el-input__inner {
            color: #fff;
            height: 30px;
            line-height: 30px;
            &::placeholder {
              color: #fff;
            }
          }
          .el-input__suffix {
            .el-input__icon {
              color: #fff;
            }
          }
        }
        .el-input-group__append {
          background-color: rgba($color: #fff, $alpha: 0.4);
          box-shadow: none;
          .el-button {
            height: 30px;
            padding: 7px;
            color: #fff;
          }
        }
      }
      .code-input {
        .el-input-group__append {
          padding: 0;
          background-color: rgba($color: #fff, $alpha: 0.4);
          box-shadow: none;
        }
      }
      .code-img {
        height: 30px;
        cursor: pointer;
      }
      .el-form-item {
        &.is-error {
          .login-input {
            box-shadow: rgba($color: #f00, $alpha: 0.3) 0 0 5px;
          }
        }
      }
    }
  }
}

.login-glass {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #FFFFFF, $alpha: 0.1);
  backdrop-filter: blur(10px);
}

.login-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

