.crud-table-header-row {
  th {
    //background-color: var(--theme-color) !important;
    //color: var(--font-color); // --el-table-border
    color: rgb(133, 136, 142);
    font-weight: 500 !important;
  }
}

.crud-table-body-row {
  td {
    height: 60px;
    .cell {
      color: rgb(87, 88, 92);
    }
  }
}

.crud-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &-main {
    width: 100%;
    flex: 1;
    overflow: hidden;
  }
  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    .el-pager {
      li {
        border-radius: 4px;
      }
    }
  }
}
