html {
  &.dark {
    --table-header-color: var(--tab-color); // 表头颜色
    --table-header-font-color: var(--font-color); // 表头颜色
    --table-border-color: #5c6062; // 边框颜色
  }
  &.light {
    --table-header-color: #f4f6f9; // 表头颜色
    --table-header-font-color: var(--font-color); // 表头颜色
    --table-border-color: #e8ebf3; // 边框颜色
  }
}
